.home-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
  background-color: #915a5a;
}

.container-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #915a5a;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container-note h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #080a0b;
  text-align: center;
}

.note-contain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  width: 100%;
  margin-top: 20px;
}

.single-note {
  height: 200px;
  padding: 10px 20px;
   
  text-align: left;
   
  overflow: auto;
  margin-right: 50px;
  margin-bottom: 50px;
  flex-basis: 18%;

}
.single-note:hover {
  transform: scale(1.05);
}

.single-note .title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color:black;
  text-align: center;
}

.single-note p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: justify;
  color: #17202a;
}

.single-note .rating-no {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e11919;
  text-align: center;
} 

.container-note header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* @media screen and (max-width: 768px) {
  .single-note {
    width: 100%;
    margin: 10px 0;
  }
}  */

/* @media screen and (max-width: 500px) {
  .container-note {
    padding: 10px;
  } */

  .single-note {
    height: 250px;
  }

  .single-note .title {
    font-size: 1.2rem;
  }

  .single-note p {
    font-size: 1rem;
  }

  .single-note .rating-no {
    font-size: 1rem;
  }

