.headerParentDiv {
  background-color: #f2f2f2;
  padding: 10px;
}

.headerChildDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.loginPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginPage span {
  font-size: 18px;
  font-weight: bold;
}

.loginPage button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginPage button:hover {
  background-color: #005b8a;
}

.Link {
  color: #fff;
  text-decoration: none;
}

hr {
  margin: 0 20px;
  border: none;
  border-top: 1px solid #ddd;
}

/* Sell Menu */

.sellMenu {
  position: relative;
}

.sellMenuContent {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  display: none;
  z-index: 1;
}

.sellMenu:hover .sellMenuContent {
  display: block;
}

.sellMenuContent span {
  font-size: 18px;
  font-weight: bold;
}

.sellMenuContent button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.sellMenuContent button:hover {
  background-color: #005b8a;
}
